html {
  margin: 0;
  padding: 0;
}

body {
  max-width: 470px;
  margin: 100px auto;
}
#mainHeader {
  display: flex;
  justify-content: end;
}
#mainSec ul {
  display: flex;
  justify-content: space-between;
}

#mainSec ul li {
  list-style: none;
}
#mainHeader svg,
#mainSec svg {
  width: 30px;
  height: 30px;
}

#mainSec img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.data div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
